$bg-color:#333;
$btn-color:yellow;
$btn-hover:blue;
$nav-txt-color:rgba(255, 255, 255, 0.89);
$font-color:#fff;
$card-color:rgb(43, 41, 41);
$icon-size:20px;

body {
    background: $bg-color;
    color: $font-color;
}

.card{
    background: $card-color;
}

.navbar {
    border-bottom: 3px solid rgba(0, 0, 0, 0.815);
    background: #292b2c;
    opacity: 0.7;

}

nav {
    position: top fixed !important;
}



#home-section {
    margin-top: 0;
    background: url('../img/pexels.jpg') no-repeat center top;
    background-size: cover;
    max-height: 700px;

    .dark-overlay {
        background: rgba(0, 0, 0, 0.7);
        max-height: 700px;
    }

    .fa {
        padding: 4px;
        font-size: $icon-size;
    }

    .card {
        opacity: 0.8;
    }

  

    .home-inner {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

#explore-main-section{
      .card:hover {
          cursor: pointer;
          transform: scale(1.1) !important;
          transition: delay 0.3s ease-in-out !important;
          box-shadow: 5px 5px 15px rgba(163, 159, 159, 0.6) !important;
      }
}

@media (max-width:768px) {

    #home-section h1 {
        font-size: 36px;
    }

}

#explore-footer-section {
    .text-muted {
        cursor: pointer;
    }
}

#create-head-section{
    background-color: rgb(85, 81, 81);
    padding-bottom: 100px;
}

#create-main-section{
    background-color: rgb(85, 81, 81);
    margin-bottom: 100px;
    .fa{
        font-size-adjust: $icon-size;
    }
    .img-fluid{
        align-self: baseline;
    }
}

#footer-section{
    background-color: rgb(85, 81, 81);
    .fa{
        font-size: 30px;
        color: azure;
        
    }
}

